<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<div class="container">
  <h1><%= @event.title %></h1>
  <%= link_to "Back to all events", root_path %>


  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Events</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Address</th>
            <th>Name of place</th>
            <th>Date</th>
            <th>Time</th>
            <th>Picture</th>
          </thead>

</div>
