.cards_booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards_booking {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards_booking {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards_booking {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards_booking {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards_booking {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 40px;

}

.card-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 0 !important;
}

.card-booking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}


.card-booking .card-booking-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}
.card-booking-infos a {
  text-decoration: none;
  color: black;
}

.card-booking-infos .card-booking-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


h3 {
text-align: center;
font-size: 35px;
font-style: bold;
margin-top: 40px;
}

.container {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 50px;
}

.statut {
  padding-top: 10px;
}
