.my_button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  margin-top: 20px;
  margin-bottom: 50px;
}
  .my_button a {
    text-decoration: none;
  }



.btn-flat:hover {
  background: gray;
  color: white;
}

.button-container{
  display:flex;
  justify-content:center;
}
