.container{
  text-align: center;
  color: black;
}

.banner_event {
  // margin-right: 220px;
  // margin-left: 220px;
  margin-top: 50px;
  // margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  padding: 150px;
}

.background-opacity-white {
  background-color: rgba(240,240,240,0.7);
  width: 400px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 20px;
}

