.container{
  text-align: center;
  color: white;
}

.banner_event {
  margin-right: 220px;
  margin-left: 220px;
  margin-top: 50px;
  margin-bottom: 100px;
  background-size: cover;
  background-position: center;
  padding: 150px;
}

