.banner_homepage {
  text-align: center;
}

.banner_homepage h1 {
  padding: 10px;
}

#button_homepage {
  border-radius: 10px;
  margin-top: 20px;
  padding : 10px 15px 10px 15px;
}

.rounded-circle {
    border-radius: 50%!important;
    width: 140px;
    height: 140px;
    margin-left: 80px;
    margin-top: 20px;
  }

img {
    vertical-align: middle;
    border-style: none;

}

.quote {
  background-color: white;
  padding: 60px;
}

.container-picture {
  padding-top: 20px;
  margin-bottom: 30px;
}

.icone {
  padding-left: 130px;
  padding-top: 30px;
  padding-bottom: 20px;
}
