.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.logo-header-center {
  align-items: center;
}

.avatar {
  margin-left: 15px;
  width: 50px;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
