.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo-header-center {
  align-items: center;
}

.avatar {
  margin-left: 15px;
  width: 50px;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

// .header-item {
//   align-items: center;
//   display: flex;
//   flex-wrap: nowrap;
// }
